.combobox {
  position: relative;
  max-width: 300px;
  display: flex;
}

.inputContainer {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5em 0.4em;
  margin: 0;

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);

  font-size: 16px;

  z-index: 2;
}

.inputWithList {
  composes: input;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.toggleBtn {
  display: block;
  padding: 0.3em 0.7em;
  margin-left: 5px;

  border: none;
  border-radius: var(--border-radius);

  background-color: var(--color-grey_lighter);
  color: var(--color-dark);
  cursor: pointer;

  z-index: 2;
}

.toggleBtn:hover {
  background-color: var(--color-secondary);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;

  position: absolute;

  z-index: 1;
}

.listItem {
  display: block;
  width: 100%;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.listItemBtn {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.3em 0.5em;

  background: none;
  border: none;

  text-align: left;
  font-size: 1em;
}

.listItemBtn:hover {
  background-color: var(--color-grey_lighter);
  cursor: pointer;
}
