.button {
  display: block;
  padding: 0.5em 0.7em;

  border: none;
  border-radius: var(--border-radius);

  background-color: transparent;
  color: var(--color-light);

  cursor: pointer;

  z-index: 2;
}

.primary {
  composes: button;
  background-color: var(--color-main);
  color: var(--color-light);
}

.primary:hover {
  background-color: var(--color-dark);
}

.secondary {
  composes: button;
  background-color: var(--color-grey_lighter);
  color: var(--color-dark);
}

.secondary:hover {
  background-color: var(--color-secondary);
}

.transparent {
  composes: button;
  background-color: transparent;
  color: var(--color-light);
}

.transparent:hover {
  background-color: transparent;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}
