@value variables: '../../variables.module.css';

@value color-grey_lighter, color-dark, border-radius from variables;

.button {
  display: block;
  padding: 0.3em 0.7em;
  margin-left: 5px;

  border: none;
  border-radius: border-radius;

  background-color: color-grey_lighter;
  color: color-dark;
  cursor: pointer;

  z-index: 2;
}

.button:hover {
  background-color: color-secondary;
}
