.header {
  width: 100%;
  background-color: var(--color-grey_lighter);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  width: 78px;
}

.logo {
  width: 100%;
}

.menuContainer {
  margin-right: 54px;
}

.menuList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menuItem:not(:last-child) {
  margin-right: 51px;
}
